body {
  width: 90%;
}

.container {
  height: 100vh;
  text-align: center;
  display: grid;
  row-gap: 1rem;
  grid-template-rows: 3fr 2fr 3fr 1fr 1fr 1fr;
}

.item {
  border: 1px solid black;
}

.nav-item {
  border: 1px solid black;
  padding: 1rem;
  margin: 0.5rem;
}

@media screen and (min-width: 1000px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .item:nth-child(1) {
    grid-area: one;
  }
  .item:nth-child(2) {
    grid-area: deux;
  }
  .item:nth-child(3) {
    grid-area: trois;
  }
  .item:nth-child(4) {
    grid-area: quatre;
  }
  .item:nth-child(5) {
    grid-area: cinq;
  }
  .item:nth-child(6) {
    grid-area: six;
  }

  .container {
    grid-template-areas:
      "one one one"
      "deux deux deux"
      "deux deux deux"
      "trois trois quatre"
      "trois trois quatre"
      "trois trois cinq"
      "six six six"
      "six six six";
  }
}
