body {
  padding: 0.5em 0.5em;
}

.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 3fr 4fr 2fr 2fr 2fr repeat(2, 5rem);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  grid-template-areas:
    "navigation"
    "centre"
    "centre"
    "centre"
    "centre"
    "centre"
    "adresse"
    "newsletter";
}

.navigation,
.adresse,
.newsletter,
.centre {
  border: 1px solid black;
}

.navigation {
  grid-area: navigation;
}
.centre {
  grid-area: centre;
}
.adresse {
  grid-area: adresse;
}
.newsletter {
  grid-area: newsletter;
}

@media screen and (min-width: 576px) {
  .parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2rem 45rem 5rem; /* choix hauteur*/
    gap: 10px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "navigation navigation navigation navigation navigation navigation"
      "centre centre centre centre centre centre"
      "adresse adresse adresse newsletter newsletter newsletter";
  }

  .table-primary,
  .btn,
  .List {
    margin: 20px;
  }
}

textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin: 20px;
  padding: 10px;
  /* max-width: 150%; */
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}
